In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/placement/Market_Basket_Optimisation.csv')

In [ ]:
data.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
transactions = []
for i in range(0, len(data)):
  transactions.append([str(data.values[i, j]) for j in range(0, 20) if str(data.values[i,j])!='0'])

In [ ]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5954 sha256=2ee41722db6465df5a1f40be050b55c239410b82e4a8237bf1d23aff70003b7d
  Stored in directory: /root/.cache/pip/wheels/7f/49/e3/42c73b19a264de37129fadaa0c52f26cf50e87de08fb9804af
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
from apyori import apriori
rules = apriori(transactions=transactions,min_support = 0.003,min_confidence=0.2,min_lift=3,min_length=2,max_length=2)
result = list(rules)

In [ ]:
result

[RelationRecord(items=frozenset({'chicken', 'light cream'}), support=0.004533333333333334, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.2905982905982906, lift=4.843304843304844)]),
 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.30069930069930073, lift=3.7903273197390845)]),
 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005866666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.37288135593220345, lift=4.700185158809287)]),
 RelationRecord(items=frozenset({'fromage blanc', 'honey'}), support=0.0033333333333333335, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fromage blanc'}), items_add=frozenset({'honey'}), confidence=0.2450980392156863, lift=5.178127589063795)]),
 RelationRecord(items=frozenset({'herb & pepper', 'ground beef'}), support=0.016, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2915549671393096)]),
 RelationRecord(items=frozenset({'tomato sauce', 'ground beef'}), support=0.005333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'tomato sauce'}), items_add=frozenset({'ground beef'}), confidence=0.37735849056603776, lift=3.840147461662528)]),
 RelationRecord(items=frozenset({'olive oil', 'light cream'}), support=0.0032, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'olive oil'}), confidence=0.20512820512820515, lift=3.120611639881417)]),
 RelationRecord(items=frozenset({'whole wheat pasta', 'olive oil'}), support=0.008, ordered_statistics=[OrderedStatistic(items_base=frozenset({'whole wheat pasta'}), items_add=frozenset({'olive oil'}), confidence=0.2714932126696833, lift=4.130221288078346)]),
 RelationRecord(items=frozenset({'shrimp', 'pasta'}), support=0.005066666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'shrimp'}), confidence=0.3220338983050848, lift=4.514493901473151)])]

In [ ]:
import pandas as pd
data = []
for r in result:
    for s in r.ordered_statistics:
        data.append([
            list(s.items_base)[0],
            list(s.items_add)[0],
            r.support,
            s.confidence,
            s.lift
        ])

df = pd.DataFrame(
    data,
    columns=["Base", "Add", "Support", "Confidence", "Lift"]
)

print(df)

                   Base          Add   Support  Confidence      Lift
0           light cream      chicken  0.004533    0.290598  4.843305
1  mushroom cream sauce     escalope  0.005733    0.300699  3.790327
2                 pasta     escalope  0.005867    0.372881  4.700185
3         fromage blanc        honey  0.003333    0.245098  5.178128
4         herb & pepper  ground beef  0.016000    0.323450  3.291555
5          tomato sauce  ground beef  0.005333    0.377358  3.840147
6           light cream    olive oil  0.003200    0.205128  3.120612
7     whole wheat pasta    olive oil  0.008000    0.271493  4.130221
8                 pasta       shrimp  0.005067    0.322034  4.514494

In [ ]:
print("{:<20} {:<20} {:<10} {:<12} {:<8}".format(
    "Base", "Add", "Support", "Confidence", "Lift"
))

for i in range(len(result)):
    for j in range(len(result[i].ordered_statistics)):
        base = list(result[i].ordered_statistics[j].items_base)[0]
        add = list(result[i].ordered_statistics[j].items_add)[0]
        support = result[i].support
        confidence = result[i].ordered_statistics[j].confidence
        lift = result[i].ordered_statistics[j].lift

        print("{:<20} {:<20} {:<10.4f} {:<12.4f} {:<8.2f}".format(
            base, add, support, confidence, lift
        ))

Base                 Add                  Support    Confidence   Lift
light cream          chicken              0.0045     0.2906       4.84
mushroom cream sauce escalope             0.0057     0.3007       3.79
pasta                escalope             0.0059     0.3729       4.70
fromage blanc        honey                0.0033     0.2451       5.18
herb & pepper        ground beef          0.0160     0.3235       3.29
tomato sauce         ground beef          0.0053     0.3774       3.84
light cream          olive oil            0.0032     0.2051       3.12
whole wheat pasta    olive oil            0.0080     0.2715       4.13
pasta                shrimp               0.0051     0.3220       4.51